---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="text-gray-500 dark:text-zinc-400">
    <p>Hi,</p>
    <br />
    <p>I am Hieu Tran and a passionate software engineer.</p>
    <p>
      I love to build lifehack tools and share my knowledge with others. I am a
      big fan of open-source and always try to contribute to the community.
    </p>
    <p>
      Outside of programming, I love to drive around the city and organize my
      messed up thinking these trivial things.
    </p>
    <br />
    <p>Hieu,</p>
  </article>
</Layout>
