---
const today = new Date();
---

<footer class="mx-auto max-w-4xl py-3 px-3 md:px-6">
  <p class="text-zinc-500 text-center">
    &copy; {today.getFullYear()} Hieu Tran. All rights reserved.
  </p>
</footer>
