---
import "../styles/tailwind.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import GlobalScripts from "../components/GlobalScripts.astro";
import type { MetaData } from "../types";

export interface Props {
  metadata?: MetaData;
}

const {
  metadata = {
    title: "Hieu Tran Blog",
    description: "Passionated software developer blog",
  },
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={metadata.title!} description={metadata.description!} />
    <GlobalStyles />
  </head>
  <body class="antialiased bg-page">
    <Header />
    <div class="mx-auto max-w-4xl py-3 px-3 md:px-6">
      <slot />
    </div>
    <Footer />
    <GlobalScripts />
  </body>
</html>
